* {
    /* margin: 0px;
    padding: 0px; */
}

ul {
    /* list-style-image: url('./imagens/check.png'); */
    background-color: aqua;
    
    list-style: square inside url('./imagens/check.png');
    
    margin: 0px;
    padding: 0px;
}

ul li {
    border: 1px solid black;
    padding: 20px;
}

ol {
    /* list-style-image: url('./imagens/check.png'); */
    background-color: tomato;
    
    list-style: square inside url('./imagens/check.png');
    
    margin: 0px;
    padding: 0px;
}

ol li {
    border: 1px solid black;
    padding: 20px;
}